:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}

a:hover {
	color: #535bf2;
}

html {
	/*background-image: url("bg.svg");*/
	background-size: cover;
	background-position: bottom;
	height: 100vh;
}

body {
	margin: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

p {
	margin-bottom: 20px;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

.content {
	max-width: 480px;
	padding: 10px;
	text-align: center;
}

.hide { 
	clip-path: inset(50%);
  height: 0px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 0px;
}

.links {
	display: flex;
	list-style: none;
	justify-content: space-evenly;
	margin: 0;
	padding: 50px 0;

	& a {
		display: flex;

		& img {
			width: 64px;
			height: 64px;
		}
	}
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}



